URL_SECURITIES: "https://iss.moex.com/iss/securities.json"
URL_ENGINES: "https://iss.moex.com/iss/engines.json"
URL_MARKETS: "https://iss.moex.com/iss/engines/stock/markets.json"
TOKEN: "telegram_bot_token"
CHAT_ID: "telegram_chat_id"

AWS_BUCKET: "my-lakehouse-bucket"
AWS_SECRET_KEY: "aws_secret_key"
AWS_ACCESS_KEY: "aws_access_key"
AWS_REGION: "eu-central-1"
